<% include header.ejs %>

  <div class="container">

      <div class="jumbotron text-center">
          <h1><span class="fa fa-lock"></span> Work Together</h1>
          <small>An exercise for cpsc213 at Yale</small>

          <p id="credit"> Special thanks to <a href="https://scotch.io">Scotch.io</a> for the awesome tutorials</p>

          <p>Login or Register with:</p>
          <p class="col-sm-12">
            <a href="/login" class="btn btn-default">Login</a>
            <a href="/signup" class="btn btn-primary">Signup</a>
          </p>

      </div>

  </div>

</body>

</html>
