<% include header.ejs %>

    <div class="col-sm-12">
      <% if (locals.errors) { %>
        <p class="errors alert alert-warning"><%= errors %></p>
      <% } else { %>
        <p class="alert alert-success">No errors so far</p>
      <% } %>
    </div>

    <% if (locals.currentUser) { %>

      <!-- Welcome message -->
      <div class="col-sm-12">
        <span class="welcome"> Welcome, <%= currentUser.name %>. <span><a href="/user/logout" class="logout">Logout</a>
      </div>

      <div class="row mt-4 col-sm-12">

        <div class="col-sm-6">
          <!-- All Assignment -->
          <h4>Submitted Assignment</h4>
          <ul class="list-group">
            <% if (locals.assignment) { %>
              <% assignment.forEach(function(assignment) { %>
                <li class="list-group-item">
                  <span class="col-sm-6"><%=assignment.detail%></span>
                  <form class ="col-sm-3" method="post" action="/assignment/<%=assignment.id%>/delete">
                    <button type="submit" name="toggle" class="toggle btn btn-link">
                      <small><i class="fa fa-flag" aria-hidden="true"></i>Delete</small>
                    </button>
                  </form>
                </li>
              <% }); %>
            <% } %>
          </ul>
        </div>

        <div class="col-sm-6">
          <h4>Submit a new assignment</h4>
          <form class="submitAssignment" action="/assignment/submit" method="POST">
            <div class="form-group">
              <input class="form-control" name="name" type="text" placeholder="Assignment Name">
            </div>
            <div class="form-group">
              <input class="form-control" name="detail" type="text">
            </div>
            <input type="submit" class="create-task-submit btn btn-primary">
          </form>
        </div>

      </div>
    <% } else { %>
      <div class="row col-sm-12">
        <div class="col-sm-6">
          <h2>LOGIN</h2>
          <form class="login" action="/user/login" method="POST">
            <div class="input-group mb-2 mr-sm-2 mb-sm-2">
              <div class="input-group-addon"><i class="fa fa-user-circle" aria-hidden="true"></i></div>
              <input class="form-control" name="email" id="email" type="text" placeholder="email">
            </div>
            <div class="input-group mb-2 mr-sm-2 mb-sm-2">
              <div class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></div>
              <input class="form-control" name="password" id="password" type="text" placeholder="password">
            </div>
            <input type="submit" class="log-in-submit btn btn-primary">
          </form>
        </div>

        <div class="col-sm-6">
          <h2>SIGN UP</h2>
          <form class="register" action="/user/register" method="POST" class="signup-form">
            <div class="input-group mb-2 mr-sm-2 mb-sm-2">
              <div class="input-group-addon"><i class="fa fa-heart" aria-hidden="true"></i></div>
              <input name="name" type="text" class="text-input form-control" placeholder="first and last name">
            </div>
            <div class="input-group mb-2 mr-sm-2 mb-sm-2">
              <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
              <input name="email" type="text" class="text-input form-control" placeholder="email">
            </div>
            <div class="input-group mb-2 mr-sm-2 mb-sm-2">
              <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
              <input name="password" type="password" class="text-input form-control" placeholder="password">
            </div>
            <div class="input-group mb-2 mr-sm-2 mb-sm-2">
              <div class="input-group-addon"><i class="fa fa-eye" aria-hidden="true"></i></div>
              <input name="passwordConfirmation" type="password" class="text-input form-control" placeholder="password confirmation">
            </div>
            <input type="submit" class="sign-up-submit btn btn-primary">
          </form>
        </div>
      </div>
    <% } %>
  </div>

<% include footer.ejs %>
