<!doctype html>

<html>
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Social Todo App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->

</head>

<body>

  <div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Social Todo App</h1>
        <p> Welcome, <%= user.name %> </p>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

      <div class="col-md-4 col-md-offset-1">
        <h3> Add a task </h3>
        <form action="/task/create" method="post">
            <div class="form-group">
                <label>Task*</label>
                <input type="text" class="form-control" name="title" maxlength="500" required>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" name="description" maxlength="5000">
            </div>
            <div class="form-group">
                <label>Collaborator(s)</label>
                <input type="text" class="form-control" name="collaborator1">
                <input type="text" class="form-control" name="collaborator2">
                <input type="text" class="form-control" name="collaborator3">
            </div>
            <button type="submit" class="btn btn-primary">Add Task</button>
        </form>
      </div>

      <!-- TODO LIST -->
      <div class="col-md-4 col-md-offset-2">
        <!-- LOOP OVER THE TODOS IN $scope.todos -->
          <h3> You have <span class="label label-warning"><% task.length %></span> task(s) </h3>
          <ul class="list-group">
            <% task.forEach( function( task ){ %>
              <li class="list-group-item"><%= task.title %>
                <% if (user.email == task.owner) { %>
                <a href="/task/remove?id=<%=task.id%>" class="pull-right">
                  <button class="glyphicon glyphicon-trash"></button>
                </a>
                <% } %>
              </li>
            <% }); %>
          </ul>

      </div>

    </div>

</div>

</body>
</html>
