.container-fluid {
  margin-top: 20px;
  padding-top: 20px;
}

.btn-link {
  height: 40px;
  line-height:40px; /* here it is! */
}

.list-group-item {
    height: 40px;
    margin-bottom: 5px;
    border: white;
    margin-left: -35px;
}
