html {
  overflow-y:scroll;
}

body {
  background-color: #C8C8C8;
  background-size: 100%;

  padding-top:80px;
}

#credit           { margin-top:40px; margin-bottom: 40px }
#todo-list 				{ margin-bottom:30px; }
#todo-form 	 			{ margin-bottom:50px; }
